@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    list-style: none;
}
a {
    text-decoration: none;
}
/*#####################################################################
#######################################################################
""" H E A D E R  - P A G E """ ##########################################
#######################################################################
#####################################################################*/

header {
    font-family: 'Varela Round', sans-serif;
}
.color_icon_git {
    color: #c2c2c2;
}
.color_icon_git:hover {
    color: #183153;
    transition: 125ms ease-in-out;
}
/*#####################################################################
Button if login */
#navbarDropdown {
    background-color: #74C0FC;
    border: 2px solid #183153;
    color: #183153;
    border-radius: 8px;
    box-shadow: 0 3px 0px #183153;
}
#btn_deco_h {
    background-color: #FF8787;
    border: 2px solid #183153;
    color: #183153;
    border-radius: 8px;
    box-shadow: 0 3px 0px #183153;
}
/*#####################################################################
Button if non login */

#gap_header_button {
    display: flex;
    gap: 8px;
}
#btn_signup_h {
    text-align: center;
    background-color: #63E6BE;
    border: 2px solid #183153;
    color: #183153;
    border-radius: 8px;
    box-shadow: 0 3px 0px #183153;
}
#btn_signup_h:hover {
    background-color: #0CA678;
}
#btn_login_h:hover {
    background-color: #0CA678;
    border: 2px solid #183153;
}
#btn_login_h {
    background-color: transparent;
    border: 2px solid #183153;
    color: #183153;
    border-radius: 8px;
    box-shadow: 0 3px 0px #183153;
}
/*#####################################################################
#######################################################################
""" L O G I N  - P A G E """ ##########################################
#######################################################################
#####################################################################*/
body {
    background-image: url(./images/background/index.png);
    background-color: #F0F1F3;
}
main {
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.warpper_login {
    width: 20vw;
    background-color: #fff;
    border-radius: 8px;
    padding: 40px 20px;
}
.container_input {
    display: flex;
    flex-direction: column;  
    align-items: center;
    padding: 10px;
}
.icon_user {
    color: #63E6BE;
}
.title_login {
    color: #63E6BE;
}
#username, #password {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #183153;
    margin-bottom: 10px;
}
#btn_login {
    font-size: 1.5rem;
    background-color: #63E6BE;
    color: #183153;
    border: 2px solid #183153;
    border-radius: 8px;
    width: 100%;
    padding: 15px;
    margin-bottom: 13.2px;
    box-shadow: 0 10px 0px #183153;
}
#btn_login:hover {
    background-color: #0CA678;
}